<head>
    <title>Cineforum!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</body>

<template name="Home">
    <div class="container">
        
        {{> navbar }}
        
        {{> status}}
   
        {{> yield}}

        
    </div>
</template>

