<template name="navbar">
    <div class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Cineforum!</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cinema<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{attivo 'proposte'}}"><a href="{{pathFor route='proposte'}}">Proposte</a>
                        </li>
                        <li class="{{attivo 'risultati'}}"><a href="{{pathFor route='risultati'}}">Risultati</a>
                        </li>
                        <li class="{{attivo 'archivio'}}"><a href="{{pathFor route='archivio'}}">Oscar</a>
                        </li>
                        <li class="{{attivo 'fuoriConcorso'}}"><a href="{{pathFor route='fuoriConcorso'}}">Fuori Concorso</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Storico<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{attivo 'archivioProposte'}}"><a href="{{pathFor route='archivioProposte'}}">Archivio Proposte</a>
                        </li>
                        <li class="{{attivo 'statistiche'}}"><a href="{{pathFor route='statistiche'}}">Statistiche</a>
                        </li>
                        <li class="{{attivo 'classificaUtenti'}}"><a href="{{pathFor route='classificaUtenti'}}">Classifiche</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nerd Space<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{attivo 'silvanoBot'}}"><a href="{{pathFor route='silvanoBot'}}">silvanoBot</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
                <!-- here -->
            </ul>
        </div>
    </div>
</template>