<template name="risultati">

    {{#each matrici}}
    
    <div class="panel panel-primary clearfix">
        <div class="panel-heading">
            <h2 class="panel-title"><b>{{destinatario}}</b></h2>
        </div>
       
        <ul class="list-group">
            {{#each classifica}} 
            {{#with film}}
                {{# listaFilm}}
                    <span class="badge">{{../punteggio}}</span>
                {{/listaFilm}}
            {{/with}}
            {{/each}}


            {{#collapse nomeTemplate="Voti"}}
                {{> voti dest=destinatario}}
            {{/collapse}}

            {{#collapse nomeTemplate="Matrici"}}
                {{> tabellaMatrice matrice=matriceSomma caption="Matrice Somma" col="6"}}
                {{> tabellaMatrice matrice=matriceStrongestPaths caption="Matrice Strongest Paths" col="6"}}
            {{/collapse}}
        </ul>
        
    </div>
    {{/each}}

</template>

<template name="tabellaMatrice">
    <div class="col-md-{{col}}">
        <div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <caption>{{caption}}</caption>
        <thead>
        <tr>
            {{#each titoli ../destinatario}}
            <th>{{this.Title}}</th>
            {{/each}}
        </tr>
        </thead>
        {{#each matrice}}
        <tbody>
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
        </tbody>
        {{/each}}
    </table>
        </div>
    </div>
</template>

<template name="collapse">
    <a class="list-group-item" data-toggle="collapse" data-target="#collapse{{nomeTemplate}}{{../_id}}">
        <h4>Visualizza {{nomeTemplate}}...</h4> 
        <div class="collapse" id="collapse{{nomeTemplate}}{{../_id}}">
              {{> Template.contentBlock}}
        </div>
    </a>
</template>

<!--prende un destinatario chiamato "dest"-->
<template name="voti">

    <dl class="dl-horizontal">
            {{#each votiDest dest}}
                <dt>{{mittente}}</dt>
                    {{#each corrispondenze _id}} 
                    <dd>
                        {{voto}} - 
                        <a href="http://www.imdb.com/title/{{ film.imdbID }}" target="_blank">{{film.Title}}</a>
                    </dd>
                    {{/each}}
            {{/each}}
    </dl>

</template>