/*
copiato da 
http://bootsnipp.com/snippets/featured/fancy-bootstrap-checkboxes
*/

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.btn-group {
    display: flex !important;
}

.btn-group-vertical {
    padding-bottom: 10px;
}

/*per il commento*/
.commento {
  white-space: pre-wrap;
  word-break: normal;
}