<template name="proposte">
    
        <div class="jumbotron">
    {{#if nuovoUtente}}
        <h1><span style="color:red">Silvano</span> ti dà il benvenuto!</h1>
    {{/if}}
            <h2>Il tema del ciclo corrente è: <span style="color:red">{{temaCiclo}}</span></h2>

    {{#if nuovoUtente}}
            
        {{#unless currentUser}}
            <p>Per votare o inserire la tua proposta devi accedere usando il menù in alto.</p>
        {{else}}
            <p>Per cominciare aggiungi un film alla tua proposta.</p>
            {{> aggiungi}}
        {{/unless}}
    {{/if}}
        </div>
    
    {{#if isInRole 'admin'}}
        {{> gestisciCicli}}
    {{/if}}
    
    {{#each proposte}} {{> proposta}} {{/each}}

</template>

<template name="proposta">
    
<div class="panel panel-primary clearfix">
  <div class="panel-heading clearfix">
          <h2 class="panel-title pull-left" style="padding-top: 7.5px;">
              <b>{{utente}}</b> 
              {{#if data}}
                 - {{dataItaliana data}} 
              {{/if}}
          </h2>
      
          {{#if currentUser}}
          {{#unless altroUtente utente}}
                <div class="pull-right">
                  {{> aggiornaData}}
                </div>
          {{/unless}}
          {{/if}}
      
          {{#if currentUser}}
          {{#if altroUtente utente}}
            <form class="form-inline">
            <div class="[ form-group pull-right ] partecipo">
                <input type="checkbox" name="fancy-checkbox-default" 
                       id="fancy-checkbox-default{{_id}}" autocomplete="off"
                       checked="{{isPartecipo utente}}" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default{{_id}}" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default{{_id}}" class="[ btn btn-default active ]">
                        Partecipo!
                    </label>
                </div>
            </div>
            </form>
           {{/if}}
           {{/if}}
      
  </div>
  
    <ul class="list-group">
    
    {{#if commento}}
        <li class="list-group-item" data-toggle="collapse" data-target="#commento{{_id}}">
          <p class="commento">{{{commento}}}</p>
        </li>
    {{else}}
        {{#unless altroUtente utente}}
            <li class="list-group-item" data-toggle="collapse" data-target="#commento{{_id}}">
                <p class="commento">Aggiungi un commento...</p>
            </li>
        {{/unless}}
    {{/if}}
        
    {{#unless altroUtente utente}}
        {{> editCommento}}
    {{/unless}}


{{#each films}}
{{# listaFilm}}
                
    {{#if currentUser}}
    
      <div class="btn-group-vertical btn-group-sm">
          
        {{#if isInRole 'admin'}}
            <button class="submit-archivio btn btn-default"><i class="fa fa-eye"></i> Visto</button>
        {{/if}}
          
        {{#unless altroUtente ../utente }}
        <button class="elimina btn btn-danger"><i class="fa fa-trash-o"> Elimina</i></button>
        {{/unless}}
          
      </div>
      
        {{#if altroUtente ../utente }}
            {{#if isPartecipo ../utente}}
            <div class="btn-group" data-toggle="buttons">
                {{#each arrayNumeroFilms ../utente}} {{#if isChecked ../../utente ../imdbID this}}
                <label class="btn btn-info active" for="{{../imdbID}}">
                    <input type="radio" value="{{this}}" name="{{../imdbID}}" id="{{../imdbID}}" autocomplete="off" checked="true"> {{this}}
                </label>
                {{else}}
                <label class="btn btn-default" for="{{../imdbID}}">
                    <input type="radio" value="{{this}}" name="{{../imdbID}}" id="{{../imdbID}}" autocomplete="off"> {{this}}
                </label>
                {{/if}} 
                {{/each}}
            </div>
            {{/if}}
        {{/if}}



    {{/if}} 
{{/listaFilm}}
{{/each}}
        
    {{#if currentUser}}
        {{#if altroUtente utente}} 
            {{#if isPartecipo utente}}
                <button class="submit-voto btn btn-lg btn-success btn-block">
                    <i class="fa fa-thumbs-o-up fa-lg"></i> Vota!
                </button>
            {{/if}}
        {{else}}
            <li class="list-group-item">
              {{> aggiungi}}  
            </li>
        {{/if}}
    {{/if}}


    </ul>
</div>
    
</template>

<template name="editCommento">
    <div class="collapse" id="commento{{_id}}">
        <li class="list-group-item">
          <form>
            <samp>
             Su telegram compariranno:
             <p class="small">*grassetto*   -->   <b>grassetto</b>;
                _corsivo_   -->   <i>corsivo</i>;
                [link](http://www.esempio.com/)   -->   <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">link</a></p>
            </samp>
            <textarea class="form-control" id="textarea{{_id}}" name="content" type="text" value="">{{{commento}}}</textarea>
            <button class="submit-commento btn btn-success btn-block">Salva</button>
          </form>
        </li>
    </div>
</template>