<template name="classificaUtenti">
  <script>
        $(document).on('click', '.panel-heading', function(e){
            var $this = $(this);
            if(!$this.hasClass('collapsed')) {
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
                $(window).resize();
            } else {
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
                $(window).resize();
            }
        })
    </script>
 
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#usersRank">Utenti</a></li>
    <li><a data-toggle="pill" href="#filmRank">Film</a></li>
  </ul>
  <br>
  <div class="tab-content">
    <div id="usersRank" class="tab-pane fade in active">
      <div class="panel-group"> 
        <div class="panel panel-default panel-ranking-top">
          <div class="panel-heading collapsed panel-heading-ranking-top">
            <div class="container-fluid panel-container">
              <div class="col-xs-1 text-center" style="padding: 1%; border-right: 3px solid black;">
                <div class="panel-title">
                  <b>#</b>
                </div>
              </div>
              <div class="col-xs-9 text-left" style="padding: 1%; border-right: 3px solid black;">
                <div class="panel-title">
                    <b>Utente</b>
                </div>
              </div>
              <div class="col-xs-1 text-right" style="padding: 1%; ">
                <div class="panel-title">
                  <b>SILVANI</b>
                </div>  
              </div>   
            </div>  
          </div>
        </div>
        {{#each users}}
          <div class="panel panel-default" onclick="$(window).resize();">
            <div class="panel-heading collapsed panel-heading-ranking-body" data-toggle="collapse" data-target="#collapse_{{@index}}">
              <span class="clickable">
                <div class="container-fluid panel-container" >
                  <div class="col-xs-1 text-center" style="padding: 1%;">
                    <div class="panel-title" >
                        {{incremented(@index)}}°
                    </div>
                  </div>
                  <div class="col-xs-9 text-left" style="padding: 1%;border-right: 1px solid grey; border-left: 1px solid grey;">
                    <div class="panel-title">
                        {{username}}
                    </div>
                  </div>
                  <div class="col-xs-1 text-right" style="padding: 1%;">
                    <div class="panel-title">
                      <div >{{mediaTotale}}</div>
                    </div>  
                  </div>   
                  <div class="col-xs-1 text-right" style="padding: 1%;">
                    <div class="panel-title">
                      <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>  
                  </div>   
                </div>
              </span>
                
            </div>

            <div class="collapse" id="collapse_{{@index}}">
              <div class="panel-body">
                <div>
                  {{> highchartsHelper chartId=@index chartWidth="100%" charHeight="100%" chartObject=graficoUserFilms}}
                </div>
              </div>
            </div>
            <!-- collapse -->
          </div>     
        {{/each}}
      </div>
    </div>
    <div id="filmRank" class="tab-pane fade">
        
                <div class="[ form-group ] Delta">
            <input type="checkbox" name="fancy-checkbox-default" 
                   id="fancy-checkbox-defaultDelta" autocomplete="off"
                   checked={{ordinaPerDelta}} />
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-defaultDelta" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-defaultDelta" class="[ btn btn-default active ]">
                    Ordina per differenza rispetto ad IMDb
                </label>
            </div>
        </div>
        
        
        
        
      <div class="panel-group"> 
        <div class="panel panel-default panel-ranking-top">
          <div class="panel-heading collapsed panel-heading-ranking-top">
            <div class="container-fluid panel-container">
              <div class="col-xs-1 text-center" style="padding: 1%; border-right: 3px solid black;">
                <div class="panel-title">
                  <b>#</b>
                </div>
              </div>
              <div class="col-xs-9 text-left" style="padding: 1%; border-right: 3px solid black;">
                <div class="panel-title">
                    <b>FILM</b>
                </div>
              </div>
              <div class="col-xs-1 text-right" style="padding: 1%; ">
                <div class="panel-title">
                    {{#if ordinaPerDelta}}
                    <b>DELTA</b>
                    {{else}}
                  <b>SILVANI</b>
                    {{/if}}
                </div>  
              </div>   
            </div>  
          </div>
        </div>
        {{#each movies}}
          <div class="panel panel-default" onclick="$(window).resize();">
            <div class="panel-heading collapsed panel-heading-ranking-body" data-toggle="collapse" data-target="#collapse_movies_{{@index}}">
              <span class="clickable">
                <div class="container-fluid panel-container" >
                  <div class="col-xs-1 text-center" style="padding: 1%;">
                    <div class="panel-title" >
                        {{incremented(@index)}}°
                    </div>
                  </div>
                  <div class="col-xs-9 text-left" style="padding: 1%;border-right: 1px solid grey; border-left: 1px solid grey;">
                    <div class="panel-title">
                        <a href="http://www.imdb.com/title/{{ film.imdbID }}" target="_blank">
                        {{#if film.title}}
                            {{film.title}}
                        {{else}}
                            {{film.Title}}
                        {{/if}}
                    </a>
                    </div>
                  </div>
                  <div class="col-xs-1 text-right" style="padding: 1%;">
                    <div class="panel-title">
                        {{#if ordinaPerDelta}}
                            <div>{{delta}}</div>
                        {{else}}
                            <div >{{media}}</div>
                        {{/if}}
                    </div>  
                  </div>   
                  <div class="col-xs-1 text-right" style="padding: 1%;">
                    <div class="panel-title">
                      <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>  
                  </div>   
                </div>
              </span>    
            </div>

            <div class="collapse" id="collapse_movies_{{@index}}">
              <div class="panel-body">
                <ul class="list-group">
                    {{# listaFilm film}}
                IMDb/2: <b>{{ half(film.imdbRating) }}</b>
                        {{#if ordinaPerDelta}}
                Silvani: <b>{{media}}</b>
                        {{else}}
                Delta: <b>{{delta}}</b>
                        {{/if}}
                    {{/listaFilm}}
                </ul>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Utente</th>
                        <th class="text-right">Voto</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each votes}}
                        <tr>
                          <td>{{mittente}}</td>
                          <td class="text-right">{{voto}}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- collapse -->
          </div>     
        {{/each}}
      </div>
    </div>
  </div>
</template>