.panel-ranking-top {
    text-transform: uppercase !important;
    border-color: #dadada !important;
}

.panel-heading-ranking-top {
    padding: 1% !important;
    color: black !important;
    background-color: #e1e1e1 !important;
    border-color: #dadada !important;
    border-bottom: 1px solid transparent;
}

.panel-heading-ranking-body {
    padding: 1% !important;
    color: white !important;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}