<template name="archivioProposte">
    {{#each proposte}} {{> propostaArchivio}} {{/each}}
</template>


<template name="propostaArchivio">

    <div class="panel panel-primary clearfix">
        <div class="panel-heading clearfix">
            <h2 class="panel-title pull-left" style="padding-top: 7.5px;">
              <b>{{utente}}</b> {{#if data}}{{dataItaliana data}}{{/if}}
          </h2>
        </div>

        <ul class="list-group">

            {{#if commento}}
            <li class="list-group-item" data-toggle="collapse" data-target="#commento{{_id}}">
                <p class="commento">{{{commento}}}</p>
            </li>
            {{/if}} {{#each films}} {{# listaFilm}} {{/listaFilm}} {{/each}} {{#if voti}} {{#collapse nomeTemplate="Voti"}}
            <dl class="dl-horizontal">
                {{#each voti}}
                <dt>{{mittente}}</dt> {{#each corrispondenze this}}
                <dd>
                    {{voto}} -
                    <a href="http://www.imdb.com/title/{{ film.imdbID }}" target="_blank">{{film.Title}}</a>
                </dd>
                {{/each}} {{/each}}
            </dl>
            {{/collapse}} {{/if}}


        </ul>
    </div>

</template>