<template name="statistiche">
    
    <div class="row">
        <div class="col-xs-12">
        <form class="form-inline">
        <label>Quali film desideri includere?</label>
        <div class="[ form-group ] Oscar">
            <input type="checkbox" name="fancy-checkbox-default" 
                   id="fancy-checkbox-defaultOscar" autocomplete="off"
                   checked={{mostraOscar}} />
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-defaultOscar" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-defaultOscar" class="[ btn btn-default active ]">
                    Oscar
                </label>
            </div>
        </div>
        <div class="[ form-group ] Archivio">
            <input type="checkbox" name="fancy-checkbox-default" 
                   id="fancy-checkbox-defaultArchivio" autocomplete="off"
                   checked={{mostraArchivio}} />
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-defaultArchivio" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-defaultArchivio" class="[ btn btn-default active ]">
                    Archivio Proposte
                </label>
            </div>
        </div>
        </form>
            {{> highchartsHelper chartId="combinatoAnni" chartWidth="100%" charHeight="100%" chartObject=graficoCombinatoAnni}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{> mappa}}
        </div>
    </div>

</template>

<template name="mappa">

    <div id="mappaFilm" style="width:100%; height:100%;"></div>

</template>