/*ispirato da https: //css-tricks.com/star-ratings/*/

.rating {
    font-size: 20px;
    display: flex;
}

.rating > svg {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    fill: lightgrey;
}

.rating > .voto {
    fill: red;
}

.rating > svg:hover {
    fill: pink;
}