<template name="archivio">
    {{#each cicli}}
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse{{_id}}">
            <h2 class="panel-title"><b>  {{tema}}</b>
            
                {{#unless aperto _id}}
                {{#with vincitore _id}}
                - vinto da <b>{{utente}}</b> con <i>{{film.Title}}</i> (media: {{media}} Silvani)
                {{/with}}
                {{/unless}}
                
            </h2>
        </div>

        <div class="collapse {{#if aperto _id}}in{{/if}}" id="collapse{{_id}}">
            {{#each archivio _id}} {{# listaFilm film}} {{#if currentUser}} {{#if aperto ../_id}}
            <div class="rating">
                <svg class="{{voto _id 0.5}}" id="0.5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> pouf}}
                </svg>
                <svg class="{{voto _id 1}}" id="1" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> divano }}
                </svg>
                <svg class="{{voto _id 1.5}}" id="1.5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> pouf}}
                </svg>
                <svg class="{{voto _id 2}}" id="2" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> divano }}
                </svg>
                <svg class="{{voto _id 2.5}}" id="2.5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> pouf}}
                </svg>
                <svg class="{{voto _id 3}}" id="3" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> divano }}
                </svg>
                <svg class="{{voto _id 3.5}}" id="3.5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> pouf}}
                </svg>
                <svg class="{{voto _id 4}}" id="4" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> divano }}
                </svg>
                <svg class="{{voto _id 4.5}}" id="4.5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> pouf}}
                </svg>
                <svg class="{{voto _id 5}}" id="5" x="0px" y="0px" width="100px" height="61.245px" viewBox="5.0 13.2525 100.0 82.68075" enable-background="new 0 19.377 100 61.245" xml:space="preserve">
                    {{> divano }}
                </svg>

            </div>
            {{/if}}

            <div>
                <strong>Media Silvani:</strong> {{mediaVoti _id}}
            </div>

            {{/if}}

            <div>
                <strong>Votanti:</strong> {{votanti _id}}
            </div>
            <div>
                <strong>Proposto da:</strong> {{utente}}
            </div>

            {{#if isInRole 'admin'}}
            <div>
                <button class="btn btn-xs btn-info riscaricaDati">
                    <i class="fa fa-refresh"></i> Riscarica dati
                </button>
            </div>
            {{/if}} {{/listaFilm}} {{/each}}
        </div>
        <!-- collapse -->

    </div>
    {{/each}}
</template>

<template name="pouf">
    <g id="Your_Icon2">
        <rect x="30" y="40" width="50" height="30" rx="10" ry="10" />
    </g>
</template>

<template name="divano">
    <g id="Your_Icon">
        <path d="M93.938,36.106h-8.5c-3.348,0-6.062,2.714-6.062,6.061v8.985H20.623v-8.985c0-3.347-2.714-6.061-6.062-6.061H6.062   C2.714,36.106,0,38.82,0,42.167v22.949c0,3.348,2.714,6.062,6.062,6.062h8.499h70.88h0.825h7.672c3.347,0,6.062-2.714,6.062-6.062   V42.167C100,38.82,97.287,36.106,93.938,36.106z" />
        <path d="M14.562,31.857c5.685,0,10.31,4.625,10.31,10.31v4.736H75.13v-4.736c0-5.685,4.624-10.31,10.312-10.31h6.007v-0.235   c0-6.763-5.484-12.245-12.247-12.245H20.799c-6.763,0-12.248,5.482-12.248,12.245v0.235H14.562z" />
        <rect x="6.062" y="75.426" width="14.704" height="5.196" />
        <rect x="79.945" y="75.426" width="14.704" height="5.196" />
    </g>
</template>