<template name="aggiornaData">
<div class="form-inline">
<div class="form-group">
    <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control cambia-data" 
               placeholder="Data (es. {{oggi}})" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
</div>
</template>