<template name="silvanoBot">

    <div class="row">
        <div class="col-md-12">
            {{#if currentUser}}
            {{#if fraseCreata}}
                <h1>{{fraseCreata}}</h1>
                <button id="inviaMessaggio" class="btn btn-success btn-block btn-lg">Invia!</button>
            {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <svg id="tree" style="width:100%; height:100%;"></svg>
        </div>
    </div>

</template>