<template name="aggiungi">

    {{#if currentUser}}
        <form class="cerca-film">
        <label for="query">Aggiungi Film</label>
        
            <input type="text" class="form-control" name="query" placeholder="Scrivi un titolo e premi [Invio]" />
        </form>

        {{#if searching}}
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{caricamento}}%">
            </div>
        </div>
        {{/if}}
    
    
        {{#if risultatiRicerca}}
            {{#each risultatiRicerca}} 
                {{# listaFilm}}
                    {{#if ../fuoriConcorso}}
                        <button class="submit-fuoriConcorso btn btn-info"><i class="fa fa-plus"></i> Aggiungi fuori concorso!</button>
                    {{else}}
                        <button class="submit-film btn btn-success"><i class="fa fa-plus"></i> Aggiungi!</button>
                    {{/if}}
                {{/listaFilm}}
            {{/each}}
        {{/if}}
    {{/if}}

</template>
