<!--Va messa dentro un list-group-->
<template name="listaFilm">
    <li class="list-group-item" id="{{imdbID}}list-group-item{{../_id}}" >
        {{#if background_image}}
        <style>
            #{{imdbID}}list-group-item{{../_id}} {
                position: relative;
                background: #000 url("{{background_image}}") center center;
                width: 100%;
                height: 100%;
                background-size: cover;
                overflow: hidden;
            }
        </style>
        {{/if}}
    <div class="media">
        <div class="media-left hidden-xs" >
            <a href="{{medium_cover_image}}" target="_blank">
            <img class="media-object media-middle" src="{{small_cover_image}}">
            </a>
        </div>
        <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://www.imdb.com/title/{{ imdbID }}" target="_blank">
                        {{#if title}}
                            {{title}}
                        {{else}}
                            {{Title}}
                        {{/if}}
                    </a>
                    <small><i>
                        {{#if directors}}
                            {{#each directors}}
                                <a href="http://www.imdb.com/name/{{imdb_code}}" target="_blank">{{name}}</a>
                            {{/each}}
                        {{else}}
                            {{Director}}
                        {{/if}}
                        - {{Year}} - {{Country}} - {{Runtime}}</i></small>
                </h4>
                
                <div data-toggle="collapse" data-target="#{{imdbID}}collapselist{{../_id}}">
                            <p><small>
                                {{#if Plot}}
                                    {{Plot}}
                                {{else}}
                                    {{description_full}}
                                {{/if}}
                            </small></p>
                </div>

        </div>
        <div class="media-right">
            {{> Template.contentBlock}}
        </div>
    </div>
    
    <div class="collapse" id="{{imdbID}}collapselist{{../_id}}">
        {{#if Plot}}
            <p><small>
                {{description_full}}
            </small></p>
        {{/if}}
                          

        <dl>
            <dt>Actors</dt>
            <dd>
                {{#if actors}}
                    {{#each actors}}
                        <div class="media">
                            <div class="media-left" >
                                <img class="media-object media-middle img-rounded" src="{{small_image}}">
                            </div>
                            <div class="media-body">
                                <i>{{character_name}}</i> - <a href="http://www.imdb.com/name/{{imdb_code}}" target="_blank">{{name}}</a>
                            </div>
                        </div>        
                    {{/each}}
                {{else}}
                    {{Actors}}
                {{/if}}
            </dd>

            <dt>Writer</dt>
            <dd>{{Writer}}</dd>
            <dt>Released</dt>
            <dd>{{Released}}</dd>
            <dt>Genre</dt>
            <dd>{{Genre}}</dd>
            <dt>Language</dt>
            <dd>{{Language}}</dd>
            <dt>Awards</dt>
            <dd>{{Awards}}</dd>
            <dt>Poster</dt>
            <dd><a href='data:text/html;charset=utf-8, <html><meta http-equiv="refresh" content="0;URL={{Poster}};"></html>' target="_blank">Link</a>
            </dd>
            {{#if yt_trailer_code}}
                <dt>Trailer</dt>
                <dd>
                <a href="https://www.youtube.com/watch?v={{yt_trailer_code}}" target="_blank">YouTube</a>
                </dd>
            {{/if}}
            <dt>Rated</dt>
            <dd>{{Rated}}</dd>
            <!-- {{#if torrents}}
                <dt>Torrents</dt>
                {{#each torrents}}
                    <dd>
                        <a href="{{magnet hash}}"><i class="fa fa-magnet"></i> {{quality}}</a>
                        Size: {{size}}, Seeds: {{seeds}}, Peers: {{peers}}
                    </dd>
                {{/each}}
            {{/if}} -->
            {{#if english}}
                <dt>Sub Eng</dt>
                <dd>
                    {{#each english}}
                        <a href="http://www.yifysubtitles.com{{url}}">Rating:{{rating}} </a>
                    {{/each}}
                </dd>
            {{/if}}
            {{#if italian}}
                <dt>Sub Ita</dt>
                <dd>
                    {{#each italian}}
                        <a href="http://www.yifysubtitles.com{{url}}">Rating:{{rating}} </a>
                    {{/each}}
                </dd>
            {{/if}}
            </dl>
    </div>

</li>
</template>