<template name="fuoriConcorso">

<ul class="list-group">
    {{#each films}} 
        {{# listaFilm}}
            {{#if isInRole 'admin'}}
                <button class="rimuoviFuoriConcorso btn btn-danger"><i class="fa fa-trash-o"> Elimina</i></button>
            {{/if}}
        {{/listaFilm}}
    {{/each}}

    {{#if isInRole 'admin'}}
    <li class="list-group-item">
        {{> aggiungi fuoriConcorso=true}}
    </li>
    {{/if}}
</ul>
</template>