<template name="gestisciCicli">
    <form class="aggiungiCiclo">
        <label for="tema">Aggiungi Ciclo</label>
        <input type="text" class="form-control" name="tema" placeholder="Scrivi il tema del ciclo premi [Invio]" />
    </form>
    <ul class="list-group">
        {{#each cicli}}
        <li class="list-group-item">
            <b>{{tema}}</b> - {{dataItaliana data}}
            <button class="rimuoviCiclo btn btn-xs btn-danger pull-right"><i class="fa fa-trash-o"> Elimina</i>
            </button>
            <button class="toggleCiclo btn btn-xs btn-info pull-right"><i class="fa fa-archive">
                {{#if chiuso}}
                Apri
                {{else}}
                Chiudi
                {{/if}}
                Votazione</i>
            </button>
        </li>
        {{/each}}
    </ul>
</template>